@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primaryYellow: 47deg 88% 63%;
    --color-neutralWhite: 0deg 0% 100%;
    --color-neutralGrey: 0deg 0% 50%;
    --color-neutralBlack: 0deg 0% 7%;
  }
}
