@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primaryRed: 0deg 100% 67%;
    --color-primaryYellow: 39deg 100% 56%;
    --color-primaryTeal: 166deg 100% 37%;
    --color-primaryCobalt: 234deg 85% 45%;

    --color-gradientSlate: 252deg 100% 67%;
    --color-gradientRoyal: 241deg 81% 54%;
    --color-gradientViolet: 256deg 72% 46%;
    --color-gradientPersian: 241deg 72% 46%;

    --color-neutralWhite: 0deg 0% 100%;
    --color-neutralBlue: 221deg 100% 96%;
    --color-neutralLavender: 241deg 100% 89%;
    --color-neutralGray: 224deg 30% 27%;
  }
}
