@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-white: 0deg 0% 100%;
    --color-lightPink: 275deg 100% 97%;
    --color-grayishPurple: 292deg 16% 49%;
    --color-darkPuple: 292deg 42% 14%;
  }
}
